.carousel {
    width: 100%;
}

.carousel_item{
    position: relative;
    transition: .6s ease-in-out;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #F2F2F2;
}

/* .carousel_item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ED2647, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    border-radius: 5px;
} */

/* .carousel_item:hover::before{
     opacity: 0;
} */

.carousel_item > a > img{
     width: 100%;
     height: 250px;
     margin: 0 auto;
     border-radius: 2px;
}

.carousel_item > a > p {
    font-size: 22px;
    line-height: 25px;
    font-weight: 300;
    margin-top: 10px;
}

.carousel_item > a{
     text-decoration: none;
     color: black;
}

.checkButton{
    margin-top: 10px;
    border: 1px solid #ED2647;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
}

.checkButton:hover{
    color: white;
    background-color: #ED2647 !important;
}




@media screen and (min-width:1190px) {
      .carousel{
           width: 85%;
           margin: 0 auto; 
      }

      .carousel_item{
          padding-left: 12px;
          padding-right: 12px;
      }

      .carousel_item > a > img{
        height: 280px;
      }
}


@media screen and (min-width:780px) {
    .carousel_item{
        padding-left: 5px;
        padding-right: 5px;
    }
}