.home{
    width: 100%;
}

.home_carousel{  
    margin-top: 15px;
}

.home_row{
    margin-top: 20px;
}

@media screen and (min-width:1190px){
    .home_row{
         width: 85%;
         margin: 0 auto;
    }
}

