.footer{
    background-color: #181616;
    height: 125px;
    margin-top: 68px;
}

.footer_content{
      display: flex;
      justify-content: center;
      /* justify-content: space-between; */
}

.footer_menu > ul{
    display: flex;
    margin-right: 10px;
}

.footer_menu > ul > li {
     list-style: none;
     margin-top: 34px;
     padding-right: 6px;
}

.footer_menu > ul > li > a{
      text-decoration: none;
      color: #fff;
}

.footer_menu > ul > li >a:hover{
    color: #ED2647;
    transition: transform all .3s;
}

.footer_logo > img{
    height: 85px;
    width: 150px;
    object-fit: contain;
}

.footer_copyright{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media  screen and (max-width:414px) {
    .footer_content{
       width: 80%;
       margin: 0 auto;
       /* margin-right: 60px;
       margin-left: 60px; */
  }

  .footer_menu > ul{
    margin-left: 0px;
  }

  .footer_logo > img{
    height: 85px;
    width: 140px;
}
}